<ul>
    <li><a href="{{ url_for('main.index') }}" class="secondary">Login</a></li>
    <li>
        <details class="dropdown">
            <summary>
                Menu
            </summary>
            <ul dir="rtl">
                <li><a aria-current="page" class="contrast" href="{{ url_for('main.index') }}">Home</a></li>
                <li><a aria-current="page" class="contrast" href="{{ url_for('main.inprocess') }}">In Process</a></li>
                <li><a aria-current="page" class="contrast" href="{{ url_for('main.reception') }}">Receipts</a></li>
                <li><a aria-current="page" class="contrast" href="{{ url_for('main.usermanager') }}">User</a></li>
            </ul>
        </details>
    </li>
</ul>