{% extends 'base.html' %}
{% block title %}Login{% endblock title %}


{% block content %}
        <section>
            <div class="form-container" id="login-form">
                <h2>Login</h2>
                <form action="#" method="post">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                </form>
                <a href="#" class="switch-btn" onclick="showRegisterForm()">Don't have an account? Register</a>
            </div>
            <div class="form-container" id="register-form" style="display: none;">
                <h2>Register</h2>
                <form action="#" method="post">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                    <input type="submit" value="Register">
                </form>
                <a href="#" class="switch-btn" onclick="showLoginForm()">Already have an account? Login</a>
            </div>
        </section>
    </main>
{% endblock content %}